
/**
MEDIA QUERY FOR HEADER
*/
@media only screen and (max-width: 1200px){
    .nav-menu figure{
        display: flex;
        align-items: center;
    }

    .navbar{
        padding: 2rem 2rem;
    }

    .banner-headline{
        padding: 0.5rem 7rem;
    }
    
    .banner-headline-2{
        padding: 1rem 10rem;
    }

    .clients-section figure{
        width: 8%;
    }
    .medium-biz-layer,.medium-biz-layer-left, .medium-biz-layer-right{
        display: block;
    }
    .medium-biz-layer-left{
        margin: 0;
        padding: 1rem;
    }
    .medium-biz-layer-left>div{
        margin-top: 1rem;
    }
    .leverage-wrapper{
        margin: 0;
    }
    /**
        Changing Padding for all the various Sections
    */
    .about, .services, .consulting, .sustainability, footer{
        padding: 2rem 1rem;
    }
    .img-layer{
        padding: 1rem;
    }
    
    .img-layer figure{
        width: 100%;
        height: 100%;
    }
    .fig-caption{
        padding-left: 0rem;
    }
    .sponsors-wrapper{
        padding: 1rem;
        margin: 0;
    }

    .service-description-title{
        margin-bottom: 1rem;
    }

    .service-description{
        margin-bottom: 4rem;
    }

    .service-content-layer{
        display: block;
        margin-bottom: 1rem;
    }
    .services .btn-contact-us{
        text-align: center;
    }

    .sustainable-flexible-wrapper{
        display: block;
    }
    .sustainable-solutions-wrapper{
        padding: 2.6rem 0;
    }

    .sustainable-solutions-wrapper>div{
        width: 90%;
        margin: auto;
    }

    .sustainable-solutions-wrapper>div::before{
        left: -5.5%;
        font-size: 1.1rem;
    }

    .sustainable-solutions-wrapper>div p{
        padding-right: 1rem;
    }

    .img-wrapper figure{
        transform: translate(0%, 0%);
    }

    .img-wrapper figure img{
        width: 100%;
    }

    .footer-banner{
        padding: 1rem 1rem;
        border-radius: 6px;
        margin: 3rem 0;
        margin-bottom: 5rem;
    }
    
    .empty-wrap{
        display: none;
    }

    .other-links-lists{
        display: none;
    }

    .social-icons-container{
        display: none;
    }

    .mb-view{
        display: flex;
        width: 40%;
        margin: auto;
    }

    .footer-details>*{
        flex: auto;
    }
    .footer-details .logo figure{
        display: flex;
        align-items: center;
        transform: translate(0, -16%);
    }
    @media only screen and (max-width: 1000px){
        .navbar,.nav-menu {
            display: block;
            position: relative;
        }
        .btn-contact-us{
            display: none;
        }
        .navbar-menu{
            display: none;
        }
        .nav-link{
            padding: 0.7rem 0rem;
            display: block;
        }
        .nav-menu figure{
            display: flex;
            align-items: center;
        }
        .logo-description{
            display: inline;
            color: var(--gen-text-color, #fff);
            font-weight: 400;
            font-size: calc(10px + 1vw);
        }
        .hamburger{
            display: block;
            position: absolute;
            right: 40px;
            top: 40px;
        }
        .banner-text{
            padding: calc(10vw - 15px) 0rem;
        }

        .banner-headline-2{
            padding: 1rem 2rem;
            font-size: 1.5rem;
        }

        .clients-section figure{
            width: 8%;
        }
        .medium-biz-layer,.medium-biz-layer-left, .medium-biz-layer-right{
            display: block;
        }
        .medium-biz-layer-left{
            margin: 0;
            padding: 1rem 0rem;
        }
        .medium-biz-layer-left>div{
            margin-top: 1rem;
        }
        .leverage-wrapper{
            margin: 0;
        }
        /**
            Changing Padding for all the various Sections
        */
        .about, .services, .consulting, .sustainability, footer{
            padding: 2rem 1rem;
        }
        .img-layer{
            padding: 1rem;
        }
        .fig-caption{
            padding-left: 0rem;
        }
        .sponsors-wrapper{
            padding: 1rem;
            margin: 0;
        }

        .service-description-title{
            margin-bottom: 1rem;
        }

        .service-description{
            margin-bottom: 4rem;
        }

        .service-content-layer{
            display: block;
            margin-bottom: 1rem;
        }
        .services .btn-contact-us{
            text-align: center;
        }

        .sustainable-flexible-wrapper{
            display: block;
        }
        .sustainable-solutions-wrapper{
            padding: 2.6rem 0;
        }

        .sustainable-solutions-wrapper>div{
            width: 90%;
            margin: auto;
        }

        .sustainable-solutions-wrapper>div::before{
            left: -5.5%;
            font-size: 1.1rem;
        }

        .sustainable-solutions-wrapper>div p{
            padding-right: 1rem;
        }

        .img-wrapper figure{
            transform: translate(0%, 0%);
        }

        .img-wrapper figure img{
            width: 100%;
        }

        .footer-banner{
            padding: 1rem 1rem;
            border-radius: 6px;
            margin: 3rem 0;
            margin-bottom: 5rem;
        }
        
        .empty-wrap{
            display: none;
        }

        .other-links-lists{
            display: none;
        }

        .social-icons-container{
            display: none;
        }

        .mb-view{
            display: flex;
            width: 40%;
            margin: auto;
        }

        .footer-details>*{
            flex: auto;
        }
        .footer-details .logo figure{
            display: flex;
            align-items: center;
            transform: translate(0, -16%);
        }

        @media only screen and (max-width: 800px){
            .navbar,.nav-menu{
                display: block;
            }
            .btn-contact-us{
                display: none;
            }
            .navbar-menu{
                display: none;
            }
            .clients-section figure{
                width: 8%;
            }
            
            .banner-headline{
                font-size: 2.1rem;
            }
            
            .banner-headline-2{
                font-size: 1.3rem;
            }
            .medium-biz-layer,.medium-biz-layer-left, .medium-biz-layer-right{
                display: block;
            }
            .medium-biz-layer-left{
                margin: 0;
                padding: 1rem 0;
            }
            .medium-biz-layer-left>div{
                margin-top: 1rem;
            }
            .leverage-wrapper{
                margin: 0;
            }
            /**
                Changing Padding for all the various Sections
            */
            .about, .services, .consulting, .sustainability, footer{
                padding: 2rem 1rem;
            }
            .img-layer{
                padding: 1rem;
            }
            .fig-caption{
                padding-left: 0rem;
                width: 100%;
            }
            .sponsors-wrapper{
                padding: 1rem;
                margin: 0;
            }

            .service-description-title{
                margin-bottom: 1rem;
            }

            .service-description{
                margin-bottom: 4rem;
            }

            .service-content-layer{
                display: block;
                margin-bottom: 1rem;
            }
            .services .btn-contact-us{
                text-align: center;
            }

            .tool-lists-wrapper{
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }

            .sustainable-flexible-wrapper{
                display: block;
            }
            .sustainable-solutions-wrapper{
                padding: 2.6rem 0;
            }

            .sustainable-solutions-wrapper>div{
                width: 90%;
                margin: auto;
            }

            .sustainable-solutions-wrapper>div::before{
                left: -5.5%;
                font-size: 1.1rem;
            }

            .sustainable-solutions-wrapper>div p{
                padding-right: 1rem;
            }

            .img-wrapper figure{
                transform: translate(0%, 0%);
            }

            .img-wrapper figure img{
                width: 100%;
            }

            .footer-banner{
                padding: 1rem 1rem;
                border-radius: 6px;
                margin: 3rem 0;
                margin-bottom: 5rem;
            }

            .empty-wrap{
                display: none;
            }

            .other-links-lists{
                display: none;
            }

            .social-icons-container{
                display: none;
            }

            .mb-view{
                display: flex;
                width: 40%;
                margin: auto;
            }

            .footer-details>*{
                flex: auto;
            }
            .footer-details .logo figure{
                display: flex;
                align-items: center;
                transform: translate(0, -16%);
            }

            @media only screen and (max-width: 600px){
                .navbar,.nav-menu {
                    display: block;
                }
               
                .navbar{
                    position: relative;
                }
                .hamburger{
                    display: block;
                    position: absolute;
                    right: 35px;
                    top: 35px;
                }
                .medium-biz-layer-left>div{
                    margin-top: 1rem;
                    width: 100%;
                }
                .banner-headline{
                    margin: auto;
                    padding: 0.5rem 5rem;
                    font-size: 1.5rem;
                }
                .img-layer{
                    padding: 0;
                }
                .banner-headline-2{
                    padding: 1rem 2rem;
                    font-size: 0.8rem;
                }

                .tool-lists-wrapper{
                    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                }

                .service-description::before{
                    width: auto;
                }
                .service-description-inner-wrapper{
                    width: 100%;
                }
                .service-description-inner-wrapper p{
                    padding-right: 1rem;
                }
                .medium-biz-layer,.medium-biz-layer-left, .medium-biz-layer-right{
                    display: block;
                }

                .footer-details{
                    display: block;
                    text-align: center;
                }
                .footer-details .logo{
                    display: block;
                }

                .footer-details .logo figure{
                    display: flex;
                    text-align: center;
                }

                .footer-details .logo figure>*{
                    margin-left: 2rem;
                }

                .footer-banner{
                    display: block;
                }

                .footer-banner div h2{
                    font-size: 16px;
                    text-align: center
                    ;
                }

                .footer-btn-wrap{
                    text-align: center;
                    padding: 1rem;
                }

                .footer-btn-wrap button{
                    font-size: 1rem;
                }

                .home-link h3, .other-links h3, .socials-wrapper h3{
                    font-size: 14px;
                }

            }
            
        }
    }
}