*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
    font-family: 'Avenir';
    color: var(--gen-text-color, #fff);
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #08071F;
    --btn-bg: #081AFF;
    --gen-text-color: #fff;
    --light-bg-color: #171E79;
    --tabs-line-color: #A1A0C5;
    --url-link: url('../images/service_1.png');
    /* #081AFF */
    counter-reset: h1-count;
    --footer-bg: #000000;
}

.wrapper{
    /* display: grid; */
    /* grid-template-rows: repeat(4, 1fr); */
    /* gap: 20px; */
    /* border: 1px solid red; */
    width: 100%;
}

/** Header Section Starts here*/
.header{
    /* height: 100vh; */
    /* background-color: var(--bg-color, #08071F); */
    background: var(--bg-color, #08071F) url('../images/image\ 12.png') no-repeat fixed center;
    background-size: cover;
    /* background-blend-mode: soft-light; */
    background-blend-mode: screen;
    /* background: linear-gradient(1.38deg, rgba(8, 7, 31, 0.4) -1.91%, rgba(0, 0, 0, 0.36) 120.26%), url('../assets/images/image\ 12.png'); */
    /* opacity: 0.5; */
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-description{
    display: none;
}

.nav-link{
    color: #fff;
    font-size: 15px;
    padding: 0.7rem 2rem;
    font-weight: 400;
    cursor: pointer;
}

.nav-link:active{
    color: var(--btn-bg,#081AFF);
}

.navbar-menu{
    display: flex;
}

.navbar-menu.hide{
    display: none;
}

.btn-contact-us.hide{
    display: none;
}

.btn-contact-us button{
    font-size: 18px;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: var(--gen-text-color, #fff);
    background-color: var(--btn-bg, #081AFF);
}

.btn-contact-us button img{
    height: 10px;
}

.banner-text{
    padding: 16rem 0rem;
    color: var(--gen-text-color, #fff);
    text-align: center;
}

.banner-headline{
    margin: auto;
    padding: 0.5rem 7rem;
    font-weight: 800;
    /* font-size: 1.5rem; */
    font-size: 65px;
}

.banner-headline-2{
    font-weight: 400;
    font-size: 28px;
    padding: 1rem 22rem;
}

.hamburger{
    display: none;
}

/**
ABOUT STARTS HERE
*/
.about{
    background: var(--bg-color, #08071F);
    padding: 2rem 5rem;
    /* height: 100vh; */
    /* border: 1px solid white; */
}

.about-title{
    /* width: 87%; */
    /* margin: auto; */
    /* border: 1px solid yellow; */
}

.about-rule{
    border-color: var(--btn-bg);
}

.medium-biz-layer{
    display: flex;
    padding: 1rem 0;
    /* justify-content: space-between; */
    /* border: 2px solid rebeccapurple; */
    /* width: 87%;
    margin: auto; */
}

.medium-biz-layer-left{
    flex: 1;
    /* border: 1px solid green; */
    padding: 6rem 1rem;
}

.medium-biz-layer-left>div{
    width: 80%;
    margin-top: 4rem;
    
}

.medium-biz-layer-left p{
    font-weight: 400;
    /* font-size: 16px; */
    font-size: 20px;
    line-height: 20px;
}

/* .btn-wrapper .btn-contact-us{

} */

.medium-biz-layer-right{
    flex: 2;
    /* border: 1px solid purple; */
    margin-top: 1.4rem;
    
}

.img-layer{
    /* border: 1px solid green; */
    /* width: 700.19px;
    height: 479.63px; */
    /* padding: 0.45rem; */
    position: relative;
    padding: 0rem 0;
    padding-left: 8rem;
    /* border: 1px solid red; */
}

.img-layer figure{
    /* width: 100%;
    height: inherit; */
    
    /* width: 907.19px;
    height: 579.63px; */

    width: 700.19px;
    height: 504.63px;
    
    /* text-align: right; */
    
    position: relative;
}

/* .img-layer figure::before{
    content: "***";
    width: 150px;
    height: 120px;
    bottom: -15px;
    left: 17%;
    border: none;
    position: absolute;
    background-color: var(--light-bg-color, #171E79);
} */

.img-layer figure img{
    width: 100%;
    height: inherit;
    display: block;
    /* margin-left: 3rem; */
    /* transform: translateX(19%); */

    /* position: absolute;
    right: -10%;
    bottom: 0; */
}

.img-layer figcaption{
    margin: 2rem 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.fig-caption{
    width: 90%;
    /* border: 1px solid brown; */
    margin-top: 30px;
    font-size: 20px;
    padding-left: 6rem;
}

.sponsors-wrapper{
    padding: 1.5rem 5rem;
    /* border: 3px solid yellow; */
    /* margin: calc(3.5rem, 0); */
}

.clients-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 2rem 0; */
    /* margin-top: 4.5rem; */
}

.clients-section figure{
    flex: 1;
    /* border: 1px solid yellow; */
    margin: 0 0.7rem;
}

.clients-section figure img{
    width: 100%;
    /* border: 1px solid red; */
}

/** Servics Section Starts here*/
.services{
    background-color: var(--bg-color, #08071F);
    color: var(--gen-text-color, #fff);
    padding: 2rem 7rem;
    padding-bottom: 8rem;
    /* border: 1px solid red; */
    position: relative;
}

.service-title h1{
    /* border-bottom: 3px solid #fff; */
    text-align: right;
    font-weight: 400;
    /* font-size: 20px; */
    line-height: 42px;
    /* margin: auto; */
}

.service-description-title{
    padding: 1.5rem 0;
    margin-bottom: 5rem;
    /* text-align: center; */
}

.service-content-layer {
    display: flex;
    color: #D2D1FF;
}

.service-description{
    /* padding-right: 4rem; */
    /* position: relative; */
}

.service-description::before{
    content: "";
    width: 447.86px;
    height: 505.26px;
    transform-origin: center;
    transform: translate(50px, -50px) rotate(140.71deg);
    position: absolute;
    background: rgba(7, 0, 249, 0.56);
    mix-blend-mode: soft-light;
    filter: blur(6px);
}

.service-description h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.service-description-inner-wrapper h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    padding: 1rem 0;
}

.service-description-inner-wrapper p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding-right: 6.8rem;
}

.service-content-layer > section{
    flex: 1;
    /* border: 1px solid red; */
}

.service-list{
    /* border: 4px solid greenyellow; */
}

.vertical-tabs-wrapper{
    /* border: 3px solid greenyellow; */
    /* border: 1px solid yellow; */
    transform: translateY(-45px);
    position: relative;
    background-image: var(--url-link);
    background-repeat: no-repeat;
    /* background-size: 80%; */
    /* background-position: right top; */
    /* background-position: center top; */
    background-position-x: 63px;
    background-size: 90% 80%;
}

.tabs li{
    border-bottom: 1px solid var(--tabs-line-color, #A1A0C5);
    padding: 1.9rem 0;
    padding-left: 0.2rem;
    cursor: pointer;
}

.tabs li.active{
    color: #081AFF;
}

.btn-to-close > .btn-contact-us button{
    background-color: transparent;
    border: 1px solid var(--btn-bg, #081AFF);
    font-size: 14px;
}


.consulting{
    background-color: var(--gen-text-color, #fff);
    padding: 3rem 7rem;
}

.consulting-header h1{
    color: var(--btn-bg, #081AFF);
}

.tool-lists-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}

.tool-list-container{
    /* width: 30%; */
    margin-top: 2rem;
    /* border: 1px solid red; */
    /* flex: 2 2 1 1 auto; */
}

.tool-list-container h2{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 33px;
    margin: 0.5rem 0;
    color: #010101;
}

.tool-list-container figcaption{
    color: #010101;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    margin: 0.5rem 0;
}

.tool-list-container figure{
    width: 100%;
    /* border: 1px solid skyblue; */
}

.tool-list-container img{
    width: 100%;
    height: 213.74px;
    /* border: 1px solid yellow; */
    box-shadow: 0 0px 4px rgba(180, 180, 180, 0.5);
}

.sustainability{
    background: var(--bg-color, #08071F);
    /* padding: 2rem 4rem 2rem 0; */
    padding: 3rem 7rem;
    padding-bottom: 0;
}

.sustainability-header{
    margin-bottom: 4rem;
}

.sustainability-header h4{
    padding: 1rem 0;
    font-size: 20px;
    font-weight: 400;
}

.sustainable-flexible-wrapper{
    display: flex;
    align-items: center;
    /* border: 1px solid green; */
}

.img-wrapper, .sustainable-solutions-wrapper{
    flex: 1;
    /* border: 1px solid red; */
}

.img-wrapper figure{
    /* border: 1px solid red; */
    transform: translate(-17%, -7%);
    width: 100%;
}

.sustainable-solutions-wrapper>div{
    padding: 1.8rem 0rem 4rem 0.5rem;
    border-top: 1px solid #081AFF;
    position: relative;
}

.sustainable-solutions-wrapper>div::before{
    counter-increment: h1-count;
    content: "0" counter(h1-count);
    position: absolute;
    top: -13px;
    left: -6.5%;
    /* border: 1px solid red; */
}

.sustainable-solutions-wrapper>div h1{
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 1rem;
}

.sustainable-solutions-wrapper>div p{
    padding-right: 15rem;
}

footer{
    padding: 3rem 7rem;
    /* border: 1px solid red; */
    background-color: var(--footer-bg, #000000);
}

.footer-banner{
    background-color: var(--btn-bg, #081AFF);
    padding: 5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.footer-banner div{
    /* padding: 4rem 3rem; */
    flex: 1;
}

.footer-banner div h2{
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
}

.footer-btn-wrap{
    text-align: right;
    /* border: 1px solid red; */
}

.footer-btn{
    background-color: var(--footer-bg, #000000);
    border: none;
    border-radius: 6px;
    padding: 0.6rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.footer-details{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid yellow; */
}

.footer-details>*{
    /* border: 1px solid brown; */
    flex: 1;
}

.home-link h3, .other-links h3, .socials-wrapper h3{
    margin: 0.6rem 0;
}

.other-links p{
    padding: 0.4rem 0;
}

.social-icons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons-container figure{
    flex: 1;
    margin: 0.4rem 0;
    /* border: 1px solid yellow; */
}

.mb-view{
    display: none;
}
